@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

:root {
  --main-color: #ff0;
  --light-white: rgba(255, 255, 255, 0.5);
  --light-black: rgba(0, 0, 0, 0.3);
  --light-bg: rgba(255, 255, 255, 0.1);
  --white: #fff;
  --black: #000;
}

* {
  font-family: "Comfortaa", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  scrollbar-color: var(--main-color) var(--black);
  scrollbar-width: thin;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

.container {
  padding-top: 10rem;
}

.heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 7rem;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, transparent, var(--black));
  z-index: 1000;
}

.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.header .flex .logo {
  font-size: 2.5rem;
  color: var(--main-color);
}

.header .flex .navbar a {
  margin-left: 2rem;
  font-size: 1.8rem;
  color: var(--light-white);
  transition: 0.2s linear;
}

.header .flex .navbar a:hover {
  color: var(--white);
}

#menu-btn {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--white);
  display: none;
}

.home {
  background: url("../images/home-bg.jpg") no-repeat rgba(0, 0, 0, 0.5);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
}

.home .flex {
  min-height: calc(100vh - 10rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  
  font-size: 28px;
  
  
  padding-bottom: 15px;
  
 
  margin-bottom: 50px;
}

.contents-item {
  float: left;
  
  margin-right: 40px;
}


.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

.contact-form {
  padding-top: 100px;
}

.input-container {
  position: relative;
}

input, textarea {
  height: 48px;
  width: 280px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px;
}


.contact-submit {
  background-color: #F0F8FF;
  color: #000000;
}

.footer {
  background-color: #696969;
  color: #fff;
  height: 210px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
  color: #FFFF00;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
  font-size: 13px;

}
